/*
Name: Arkham CSS for DEVONthink v0.2.0
Date Created: 2018-09-09 - Date Revised: 2020-07-26
Author: Patrick H. Mullins (patrick@arkmail.us)
Homepage: https://pmullins.net/
*/
 
/* Arkham CSS - Basic Page */

body {
  font-family: 'San Francisco Text', 'Lucida Grande', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  background-color: #f6f6f6;
  color: #555;
  position: relative;
  margin: 10;
  padding: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

/* Arkham CSS - Links */

p {
  color: #000000;
}

a {
  color: #33a1de;
  text-decoration: none;
}

a:hover {
  color: #4682B4;
  text-decoration: underline;
}

a:active {
  color: #4682B4;
}

/* Arkham CSS - h1-h6 */

h1, h2, h3, h4, h5, h6 {
  font-family: 'San Francisco Text', 'Lucida Grande', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #202020;
  border-bottom: 1px solid #eaecef;
  padding-bottom: .3em;
}

blockquote {
  font-family: 'Monaco';
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

pre {
  font-family: 'Monaco';
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}
